nav{
    background-color: black;
    color:white;
    padding: 2%;
}
h1, ul,li{
    display:inline;
}
ul{
    margin-left:60%;
}
li{
    color:grey;
    cursor:pointer;
}
li:hover{
    color:white;
}
input{
    width:60%;
    padding:15px;

}
.search{
    padding:50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width:2px;
    border-style:solid;
    display:inline-block;
    width:300px;
    height:300px;
    color:grey;
    cursor:pointer;
}
.text:hover{
    background-color: black;
    color:white;
}
.products{
    text-align: center;
}
.contact{
    background-color: black;
    color:white; 
    padding: 20px;
}
.no, .mail,.place{
    display:inline;
    padding:5px;
}